<div class="row mb-3">
    <div class="col-4">
        <button (click)="sumar()" class="boton">+</button>
    </div>
    <div class="col-4">
        <button (click)="restar()" class="boton">-</button>
    </div>
    <div class="col-4">
        <button (click)="potenciar()" class="boton">^</button>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <button (click)="multiplicar()" class="boton">X</button>
    </div>
    <div class="col-4">
        <button (click)="dividir()" class="boton">/</button>
    </div>
    <div class="col-4">
        <button (click)="borrar()" class="boton">CE</button>
    </div>
</div>
